<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome To the League Home Page! </title>
    <link rel="stylesheet" href="/styles.css">
  </head>
<nav class="main-nav">
    <ul>
        <li><a href="/">Home</a></li>
    </ul>
</nav>

<body>
    <%= yield %>

</body>
</html>
